doctype html
html(lang="sv")
  head
    meta(charset="utf-8")
    title WebbRaket
    link(rel="stylesheet", href="css/main.css")
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
  body
    .logo-container
      img(src="/img/logo.png")
      h1 Webbraket
    h1 Innehållsförteckning
    ol
      each h1 in toc
        li
          a(href="##{h1.id}")= h1.name
          ol
            each h2 in h1.children
              li
                a(href="##{h2.id}")= h2.name


    != body
    script(src="js/main.js")

